@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 15 23 42;
}

html.dark {
  --background: 15 23 42;
  --foreground: 248 250 252;
}

body {
  @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))] antialiased;
}

* {
  scroll-behavior: smooth;
}

.container-rtl {
  @apply container px-4;
}